<div class = "a">
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Your Items</b></h4>
                        </div>
                        <div class="col align-self-center text-right text-muted">you have added one item</div>
                    </div>
                </div>
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src={{productImg}} width="50"></div>
                        <div class="col">
                            <div class="display-8 fw-bold lh-1">{{productName}}</div>
                        </div>
                        <div class="col"> <a (click)="qtyMinus()">-</a><a>{{qty}}</a><a (click)="qtyPlus()">+</a> </div>
                        <div class="col">{{productPrice}} <span class="close">
                            <i class="bi bi-trash">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                  </svg>
                            </i>
                        </span></div>
                    </div>
                </div>
                <div class="back-to-shop"><a href="#">
                    <i class="bi bi-arrow-return-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                          </svg>
                    </i></a>
                    <span class="text-muted">Back to shop</span></div>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Charges</b></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;">{{qty}}</div>
                    <div class="col text-right">{{itemPrice}}</div>
                </div>
          
                    <p>SHIPPING</p>
                        <p><strong>Standard-Delivery - {{deliveryCharges | currency:'INR'}}</strong></p>
        
                 
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">{{totalPrice| currency:'INR'}}</div>
              
                </div> <button class="btn" (click)="checkout()">CHECKOUT</button>
                <div class="bottam-margin"></div>
            </div>
            
        </div>
    </div>
</div>
